<% include ../header %>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Developer<%= user.firstName %></p>

<form action="/profile" method="POST">
    <button type="submit" class="btn btn-primary">
        presioname papi
      </button>
    </form>
<% include ../footer %>